$font-primary: "Fira Sans", sans-serif;
$blue: #2d4889;
$white: #ffffff;
$red: #e85e73;
$cardbg: #fffae1;
$cardactive: #f4cd81;
$borderColor: #f6d796;
$black: #1f1f1f;
$title: #ededed;
$red-hover: #eb3f59;
$green: #0cbe2d;
$gray: #606060;
$primary: #ff7043;
$gray-alpha: #737373;
$cpo-color-primary: #034ea2;
$cpo-text-1: #717182;
$cpo-text-2: #0a0a0a;
$cpo-text-3: #727272;
$cpo-border-1: #b8b8b8;
$cpo-border-2: #0000001a;
$cpo-border-3: #dbdbdb;
$cpo-border-4: #c5c6cc;
$disable-field:#F4F4F4;
$timeline-dt: #f1f9ff;
$border-project: #c5c6cc;
